@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-white: #fff;
    --color-bg: rgb(31, 125, 212);
    --color-black: black;
    --color-pink: rgba(240, 21, 210, 0.6);
    --color-grid: rgba(192, 157, 212, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Raleway', sans-serif;
    background: url(./assets/background.jpg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-size : larger;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

section {
    margin-top: 10rem;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-pink);
}

section > h2 {
    color: var(--color-bg);
}

.heading {
    margin-bottom: 40px;
}

.text-brown {
    color: var(--color-pink);
    margin-top: 0.5rem;
}

a {
    color: var(--color-pink);
    transition: var(--transition);
}

a:hover {
    color: var(--color-pink);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-bg);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-bg);
    transition: var(--transition);
}

.btn:hover {
    background: rgb(54, 53, 54);
    color: var(--color-white);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-bg);
    color: var(--color-white);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        width: var(--container-width-sm);
    }

    section > h2{
        margin-bottom: 2rem;
    }
}